<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database UI</title>
    {% include 'html_dependencies.html' %}
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('dealer_mapping.list_of_projects') }}" title="Home">Projects</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./" title="Stores">Archived</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session['email'] %}
                    <li><a href="{{ url_for('users.logout_user') }}" title="Log Out"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                {% else %}
                    <li><a href="{{ url_for('users.register_user') }}" title="Sign up"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="{{ url_for('users.login_user') }}" title="Log in"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                {% endif %}
            </ul>​
        </div>
    </div>
</nav>

<div class="content container">
    {% block content %}
        <div class="jumbotron">
            <h1>Dealer Mapping</h1>
            <p>You will be presented with a pair of dealers that are very similar to each other based on some features.</p>
            <p>Just sign up, and get started by checking whether the pair of dealers match using your best judgement.</p>
            <p>Your vote will be recorded for the matched dealers and can be further used to build a ML model to automate the process.</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.register_user') }}" role="button">Get started</a></p>
        </div>
    {% endblock %}
</div>

</body>
</html>